/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}


/******************************************
/* LAYOUT
/*******************************************/
body{
  background-color: lightpink;
}

img{
  display: block;
  margin: 0 auto;
}

#dogImage{
  max-height: 300px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/