/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
	box-sizing: border-box;
	text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img {
	display: block;
	margin: 0 auto;
	width: auto;
	max-width: 600px;
}

iframe {
	display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
